{:paths ["src"]
 :deps  {org.clojure/clojurescript {:mvn/version "1.10.758"}
         re-frame                  {:mvn/version "1.0.0"}
         reagent                   {:mvn/version "1.0.0-alpha2"}
         re-frame-utils   {:mvn/version "0.1.0"}}}
