{:paths ["src" "../src"]
 :deps {garden                     {:mvn/version "1.3.10"}
        hiccup                     {:mvn/version "2.0.0-alpha2"}
        reagent                    {:mvn/version "1.0.0-alpha2"}
        org.clojure/clojurescript  {:mvn/version "1.10.773"}}}
